.services {
    padding: 2rem 3rem;
    h2 {
      color: #023e8a;
    }
    ul {
      margin-top: 1rem;
      list-style-type: disc;
      padding-left: 2rem;
      li {
        margin: 0.5rem 0;
        font-size: 1rem;
      }
    }
  }
  