<!-- <section class="home animate-fade-in">
    
  </section> -->
  <section class="home-background">
    <div class="home-overlay">
      <div class="home-grid animate-fade-in">
        <!-- <div class="home-image">
          <img src="../../assets/images/hospital.jpg" alt="Dr. Shubhodaya R" />
        </div> -->
        <div class="home-text">
          <h2>Expert Surgical Care in Malur</h2>
          <p>Welcome to the official website of Dr.Shubhodaya R, one of Malur’s top-rated General and Laparoscopic Surgeon.</p>
          <button routerLink="contact">Book an Appointment</button>
        </div>
      
      </div>
    </div>
  </section>
  